header, .colunas, footer{
	border: 1px solid black;
}
main, nav, aside{
	border: 2px solid red;	
}
.corpo{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	margin: 0;
}
.colunas{
	/*TORNAR .colunas UM CONTAINER FLEX*/
	display: flex;
	flex: 1;
}

main{
	flex-grow: 8;
}
nav{
	order: -1;
	flex-grow: 2;
}
aside{
	flex-grow: 1;

}